body {background-color:#cedeea;
      color:##03243c;
      font-family: Verdana, Arial, sans-serif;
	  margin:0;
	  font-size:110%;
	 }

header {
		background-size:100% 100%;
        background-color:#262626;
	    margin-top:10px;
		font-size:50%;
		min-height:200px;}
		
header a {text-decoration:none;}
header a:link {color:#CD7033;}
header a:visited {color:#CD7033;}
header a:hover {color:#cedeea;}

h2 {
	color:#063f69;
}

nav {position:fixed;
     top:0;
	 left:0;
	 text-align:center;
	 margin:0;
	 padding-right:0;
     width:100%;
     padding-top:0.5em;
	 padding-bottom:1em;
	 background-color:#262626;
	 border-bottom:2px solid #CD7033;
}

nav a {text-decoration:none;
       display:block;}

nav a:link {color:#41b5e6;}
nav a:visited {color:#41b5e6;}
nav a:hover {color:#CD7033;}
			
			 


nav ul {list-style-type:none;
display:flex;
flex-wrap:wrap;
margin:0;
font-size:1em;}


nav li {width:40%;
        padding-top:0;
		padding-bottom:0;
		padding-left:1em;
		padding-right:1em;  
display:inline;}


.studio {font-style:italic;}


footer {
        font-size:.60em; 
		font-style:italic;
        text-align:center;
		margin-top:30px;
	    border-top:5px solid #595856;
}

#wrapper {background-color:#cedeea;
          padding:2em;
		  }

//*
*{box-sizing: border-box;}
*//

.home {height:2vh;
       padding-top:2em;
padding-left:10%;}

.content {height:20vh;
       padding-top:2em;
padding-left:10%;}



section {padding-left:0.5em;
padding-right:0.5em;}

#mobile {display:inline;}

#desktop {display:none;}



caption {margin:1em;
         font-weight:bold;
font-size:120%;}

#aboutpic {
		   margin-right:40px;
		   padding:5px;
         display:none;
		

}

#logopic {
	margin-top:5px;
	margin-right:50px;
		   padding:5px;
		   display:float;
	
}



.clearfloat { clear:right;}
		   
form {display:flex; 
flex-direction:column;       
      padding-left:1em;
      width:80%;}

input, textarea {margin-bottom:0.5em;}
	  


.mainheading {
	text-align:left;
	color:#41b5e6;
}






@media (min-width:600px) {
header {margin-top:50px;}
nav ul {display:flex;
	    flex-wrap:nowrap;
	    justify-content:flex-end;}
		
nav li {width:7em;}



section {padding-left:2em;
padding-right:2em;}


#aboutpic {display:block;
padding-bottom:1em;
margin:10px;}


#mobile {display:none;}

#desktop {display:inline;}



@media (min-width:1024px) {
header {font-size:120%;}

.home {
        padding-top:2em;
		padding-left:2em;
}

.content {height:30vh;
        padding-top:1em;
		padding-left:8em;
}

#wrapper {margin-left:auto;
          margin-right:auto;
width:100%;}

#aboutpic {
float:right;
}

}



		

	  



	